<div class="row">
    <div class="form-group col-sm-10">
    <label for="password" class="control-label">Key</label>
    <input type="password" class="form-control" placeholder="Key" required ng-model="deployment.deployConfig.herokuKey" />
  </div>
  </div>
<div class="row">
  <div class="form-group col-sm-8">
    <label for="buildpack" class="control-label">Build Pack</label>
    <input type="text" class="form-control"  placeholder="buildpack" required ng-model="deployment.deployConfig.buildpack" />
  </div>
</div>
<div class="row" ng-include="'/partials/env.html'"> 
</div>
<div class="row">
<label>Versions</label>
<table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Url</th>
          <th>Features</th>
          <th>Balance</th>
          <th><button type="button" class="btn btn-link btn-xs" 
              ng-click="deployment.versions.push({})">
                <span class="text-success glyphicon glyphicon-plus"></span>
              </button>
            </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in deployment.versions">
      <td><input type="text" class="form-control" placeholder="Name" ng-model="item.id" required /> </td>
      <td><input type="url" class="form-control" placeholder="Url" ng-model="item.url" required /> </td>
      <td><input type="text" class="form-control" placeholder="Features" ng-model="item.features" required /> </td>
      <td><input type="number" class="form-control" placeholder="Balance" ng-model="item.balance" required /> </td>
      <td>
            <button type="button" class="btn btn-link btn-xs"  ng-click="deleteRow( deployment.versions,$index)" >
              <span class="text-danger glyphicon glyphicon-minus"></span>
            </button>
          </td>        </tr>
      </tbody>
    </table>
    </div>
